section {
  padding: 80px;
}

h1,
h2,
h4 {
  font-family: Roboto;
  color: #000;
  font-weight: 900;
}

h1 {
  font-size: 78px;
  line-height: 93.6px;
  text-align: left;
}

h2 {
  font-size: 64px;
  line-height: 76.8px;
  text-align: center;
}

h3 {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 900;
  line-height: 45.6px;
  text-align: center;
}

p {
  font-family: Roboto Serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.3px;
  text-align: center;
}

h4 {
  font-size: 26px;
  line-height: 31.2px;
  text-align: left;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 17px;
  line-height: 1.2;
}

.sub-para {
  font-family: Roboto Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  color: #000334;
}

@media (max-width: 1280px) {
  /* Styles for screens between 1280px and 1920px */
  section {
    padding: 80px 64px;
  }
  h1 {
    font-size: 48px;
    line-height: 57.6px;
  }

  h2 {
    font-size: 43px;
    line-height: 51.6px;
  }
  h4 {
    font-size: 24px;
    line-height: 28.13px;
  }
  p {
    font-size: 17px;
    line-height: 1.65;
  }
  .sub-para {
    font-size: 15px;
    line-height: 24.75px;
  }

  h3 {
    font-size: 26px;
    line-height: 31.2px;
  }
}

.subPara-center {
  text-align: center !important;
}

@media (max-width: 1220px) {
  .hero h1 {
    font-size: 42px;
    line-height: 50.4px;
  }
}

@media (max-width: 834px) {
  section {
    padding: 80px 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
  }
  h2 {
    font-size: 38px;
    line-height: 45.6px;
  }
}

@media (max-width: 359px) {
  section {
    padding: 40px 16px;
  }
  h2 {
    font-size: 26px;
    line-height: 31.2px;
  }
}

@media (max-width: 430px) {
  section {
    padding: 40px 16px;
  }
}

.faqs-container::-webkit-scrollbar {
  display: none !important;
}

@media (max-width: 1400px) {
  h2 {
    font-size: 38px;
    line-height: 45.6px;
  }

  table .first-column {
    width: 450px !important;
  }
}

@media (max-width: 800px) {
  table .first-column {
    width: 350px !important;
  }
}

h5 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
  text-align: left;
}

.hero {
  padding-top: 140px;
  padding-inline: 20px;
}

.hero-content {
  flex-basis: 60%;
  padding-top: 0px !important;
}

.hero-video {
  flex-basis: 40%;
  position: relative;
}

.hero-video .large-video {
  width: 85%;
}

.hero-video .small-video {
  position: absolute;
  width: 120px;
  right: 0px;
}

.hero-content ul {
  display: none;
}

.show-1280 {
  display: none;
}

@media (max-width: 1600px) {
  .hero {
    padding-top: 160px;
  }

  .hero-content h1 {
    font-size: 48px;
    line-height: 57.6px;
  }

  .hero-content {
    gap: 12px;
  }
}

@media (max-width: 1280px) {
  .hero-content {
    gap: 20px;
  }

  .hero-content p.show-p {
    display: none;
  }

  .hero-content ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding-inline: 20px;
  }

  .hero-content ul li {
    font-size: 20px;
    list-style: disc;
    line-height: 24px;
  }

  .hero-content ul li p {
    text-align: left !important;
  }

  .hero-content .show-1280 {
    display: block;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding-top: 140px;
  }

  .hero h1 {
    text-align: center !important;
  }

  .hero-flex {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .hero-content {
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
  }

  .hero-content li p {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 900;
    line-height: 19.92px;
    text-align: left;
  }

  .hero-content ul {
    place-items: center;
  }

  .hero-content li {
    width: fit-content !important;
  }

  .hero-content .show-1280 p,
  .hero-content .show-1280 h4 {
    text-align: center !important;
  }
}

@media (max-width: 600px) {
  .hero-content ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    width: fit-content;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .hero-video .small-video {
    width: 100px;
    right: -20px;
  }
}

.transforming-relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transforming-relative .playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
}

.services-grid .frame-services {
  position: absolute;
  bottom: -30px;
  left: -40px;
  z-index: 0;
}

.services-grid p,
.services-grid h3 {
  text-align: left;
}

.services-grid .group {
  padding-bottom: 20px;
  z-index: 1;
}

.show-600-flex {
  display: none;
}

@media screen and (max-width: 1280px) {
  section.service {
    padding-inline: 40px;
  }

  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .services-grid .group {
    gap: 10px;
    align-items: center;
  }

  h3 {
    font-size: 26px;
    line-height: 31.2px;
  }

  .services-grid h3 {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-grid .group {
    align-items: center !important;
  }

  .services-grid p,
  .services-grid h3 {
    text-align: center !important;
  }

  .services-grid .frame-services {
    display: none;
  }

  h3 {
    font-size: 22px;
    line-height: 26.4px;
  }
}

@media (max-width: 500px) {
  section.service {
    padding-inline: 16px;
  }

  .services-grid .group {
    width: 100% !important;
  }
}

table .first-column {
  width: 550px;
}

.button-medium {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  text-align: center;
  padding: 12px 20px;
}

table h2 {
  font-size: 43px;
  line-height: 45.6px;
}

table h2 sup {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 900;
  line-height: 19.92px;
  text-align: left;

  vertical-align: top;
}

table h2 sub {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
  text-align: left;
  vertical-align: bottom;
}

@media (max-width: 1600px) {
  table h2 {
    font-size: 38px;
    line-height: 35.6px;
  }

  section.plans {
    padding: 80px 20px;
  }
}

@media (max-width: 1440px) {
  table h2 {
    font-size: 38px;
    line-height: 35.6px;
  }

  table .first-column {
    width: 450px;
  }
}

@media (max-width: 1280px) {
  table h2 {
    font-size: 32px;
    line-height: 35.6px;
  }

  table .first-column {
    width: 300px;
  }
}

@media (max-width: 1024px) {
  .planCards:nth-child(3),
  .planCards:nth-child(4),
  .planFeature:nth-child(3),
  .planFeature:nth-child(4) {
    display: none;
  }

  table .first-column {
    width: 400px;
  }

  table button {
    width: fit-content;
    margin-inline: auto !important;
    padding-inline: 10px 20px;
  }
}

@media (max-width: 700px) {
  table .first-column {
    width: 350px;
  }
}

.show-600 {
  display: none;
}

@media (max-width: 600px) {
  table .hide-600 {
    display: none !important;
  }
  table thead {
    display: none;
  }

  table {
    table-layout: fixed;
  }

  table tr td {
    padding: 10px 0;
  }

  table tr td p {
    text-align: left !important;
  }
  .show-600-flex {
    display: flex !important;
  }
}

@media (max-width: 600px) {
  .show-600 {
    display: block !important;
  }
  .hide-600 {
    display: none;
  }

  table {
    min-width: unset !important;
  }
}

tbody.show-600 {
  width: 100%;
  margin-inline: auto;
}

tbody.show-600 tr td:nth-child(1) {
  width: 70% !important;
}

tbody.show-600 tr td:nth-child(2) {
  width: 30% !important;
}

.toggle-box {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: 10px;
  background-color: #77c7a8;
}

section.practice p {
  line-height: 1.8 !important;
}

@media (max-width: 1540px) {
  section.practice h2 {
    font-size: 38px;
    line-height: 45.6px;
  }

  section.practice {
    padding: 80px 64px;
  }

  section.practice .right-img {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .flex-col-1024 {
    flex-direction: column !important;
  }

  section.practice .right-img {
    width: 100%;
  }
}

section.service h3 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
}

@media (max-width: 1280px) {
  .services-grid .group {
    align-items: start;
  }
}

.planCards h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .planCards h2 {
    line-height: 36.12px;
  }
}

@media (max-width: 300px) {
  .hero-content .small-video {
    width: 60px;
  }
}

.togglebox-contianer {
  width: 500px;
}

.pricing-flex {
  width: 500px;
}

.show-500,
.show-400 {
  display: none;
}

@media (max-width: 500px) {
  .togglebox-contianer {
    width: 400px;
  }
  .hide-500 {
    display: none;
  }
  .show-500 {
    display: flex !important;
  }

  .pricing-flex {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .togglebox-contianer {
    width: 320px !important;
  }

  .hide-400 {
    display: none !important;
  }

  .show-400 {
    display: flex !important;
  }

  .pricing-flex {
    width: 100% !important;
  }

  .toggle-box {
    padding-inline: 10px !important;
  }
}

@media (max-width: 600px) {
  .show-600 {
    display: block !important;
  }
  .hide-600 {
    display: none;
  }

  table {
    min-width: unset !important;
  }
}

h6 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 900;
  line-height: 19.92px;
  text-align: left;
}

p.sub {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 10.4px;
  text-align: center;
}

@media (max-width: 360px) {
  .togglebox-contianer {
    width: 300px;
  }
}

@media (max-width: 1280px) {
  .faqSection h4 {
    font-size: 17px;
    font-weight: 900;
    line-height: 1.2;
  }
}

.hero-content {
  flex-basis: 50%;
}

@media (max-width: 1920px) and (min-width: 1280px) {
  section.service h3,
  h3.cardTitle {
    font-size: 30px;
    line-height: 1.2;
  }
}

section.faq-section {
  background: linear-gradient(237.45deg, #d5ffef 1.14%, #c1dcf8 98.66%);
}

@media (max-width: 1280px) {
  .hero-content {
    padding-inline: 16px !important;
  }
}

.GsuiteBanner {
  background: linear-gradient(270.23deg, #0066ff 0.38%, #009952 99.99%);
}

@media (max-width: 1280px) {
  table .first-column h2 {
    font-size: 38px;
    line-height: 1.2;
  }
}

@media (max-width: 600px) {
  section.practice {
    padding-inline: 16px !important;
  }
}

@media (max-width: 700px) {
  .show-700-flex {
    display: flex !important;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1280px) {
  .hero h1 {
    font-size: 48px !important;
    line-height: 1.2;
  }
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 38px !important;
    line-height: 1.2;
  }
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 32px !important;
    line-height: 1.2;
  }
}

@media (max-width: 400px) {
  .hero h1 {
    font-size: 26px !important;
    line-height: 1.2;
  }
}

.show-480 {
  display: none;
}

@media (max-width: 600px) {
  section.practice h2 {
    font-size: 26px;
    line-height: 1.2;
  }
}

@media (max-width: 480px) {
  .show-480 {
    display: block;
  }
  .hide-480 {
    display: none;
  }
  h3.cardTitle {
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
