.hostingModal {
  background: linear-gradient(91.46deg, #b2d1fe 0.65%, #f1f3ff 98.96%);
  box-shadow: 4px 4px 25px 10px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 8px;
  max-height: 90%;
}

span.ModalTitle {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 900;
  line-height: 31.2px;
  text-align: left;
}

span.hosting-plan {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
  text-align: left;
  color: rgba(0, 6, 89, 1);
}

.hostingModal .total {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.hostingModal hr {
  border: 1px solid rgba(0, 0, 0, 1);
}

.hostingModal button.choose {
  padding: 10px 24px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.plans-card {
  width: 24%;
  border-radius: 4px;
  border: 2px solid transparent;
}

.plans-card .time {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 20.4px;
  text-align: center;
  color: rgba(0, 3, 52, 1);
}

.plans-card .originalPrice {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.58px;
  letter-spacing: -0.02em;
  text-align: center;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 1);
}

.plans-card .price {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 900;
  line-height: 45.6px;
  text-align: center;
  color: rgba(0, 6, 89, 1);
}

.plans-card .currency {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.58px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.plans-card .desc {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  letter-spacing: -0.03em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.save {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 4px;
  width: 110px;
  height: 30px;
  background: rgba(26, 132, 8, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.save span {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.58px;
  text-align: center;
  color: white;
}

.plans-card.selected {
  background: rgba(236, 237, 255, 1);
  border: 2px solid var(--Primary, rgba(0, 17, 255, 1));
}

.hostingModal .input-container {
  height: 60px;
}

.hostingModal input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 12px 34px;
  padding-right: 0px;
  font-family: Roboto Serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.3px;
  text-align: left;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.hostingModal input[type="text"]:focus {
  outline: none;
}

.hostingModal input[type="text"]::placeholder {
  font-family: Roboto Serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.3px;
  text-align: left;
}

.hostingModal .input-container button {
  width: 20%;
  height: 100%;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 900;
  line-height: 19.92px;
  text-align: left;
  border-top-right-radius: 8px;
  color: white;
  border-bottom-right-radius: 8px;
  background: rgba(0, 17, 255, 1);
}

.planDetailsDuration {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
  color: rgba(0, 6, 89, 1);
  min-width: fit-content !important;
}

.planDetailsPrice {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  text-align: left;
  color: rgba(0, 17, 255, 1);
}

.planDetailsDiscount {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: rgba(26, 132, 8, 1);
  color: white;

  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 19.92px;
  text-align: center;
}

.button-continue {
  width: fit-content;
  padding: 10px 16px;
  border-radius: 4px;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
  text-align: center;
  background: #ffb700;
  color: #000334;
}

.total-totalPrice {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 900;
  line-height: 45.6px;
  text-align: left;
  color: white;
}

@media (max-width: 1280px) {
  .plans-card {
    width: 24.5%;
    padding-top: 30px;
  }

  .plans-card .price {
    font-size: 32px;
  }

  .plans-card .currency {
    font-size: 13px;
  }

  .plans-card .desc {
    font-size: 13px;
  }

  .plans-card .time {
    font-size: 15px;
  }

  .plans-card .original-price {
    font-size: 13px;
  }

  .hostingModal .input-container {
    height: 50px;
  }
}

@media (max-width: 1024px) {
  .ModalTitle {
    font-size: 22px !important;
  }

  .hostingModalButton {
    font-size: 14px;
  }

  .hosting-plan {
    font-size: 22px !important;
  }

  .planDetailsDuration {
    font-size: 22px !important;
  }

  .planDetailsPrice {
    font-size: 22px !important;
  }

  .planDetailsDiscount {
    font-size: 14px;
    height: 35px;
    min-width: fit-content !important;
    padding: 0px 10px;
  }

  img.check {
    width: 24px;
    height: 24px;
  }

  .total-totalPrice {
    font-size: 24px;
  }

  .button-continue {
    font-size: 22px;
  }
}

@media (max-width: 720px) {
  .ModalTitle,
  .hosting-plan,
  .planDetailsDuration,
  .planDetailsPrice,
  .total-totalPrice,
  .button-continue {
    font-size: 20px !important;
  }

  .planDetailsDiscount {
    font-size: 12px;
    height: 30px;
    width: 80px;
  }

  .hostingModalButton {
    font-size: 12px;
    height: fit-content;
    padding: 10px 20px !important;
  }
}

@media (max-width: 660px) {
  .hostingModalButton {
    font-size: 10px;
    height: fit-content;
    padding: 10px 20px !important;
  }

  .ModalTitle,
  .hosting-plan,
  .planDetailsDuration,
  .planDetailsPrice,
  .total-totalPrice,
  .button-continue {
    font-size: 18px !important;
  }

  .planDetailsDiscount {
    font-size: 10px;
    height: 30px;
    width: fit-content;
    padding-inline: 6px;
  }
}

@media (max-width: 600px) {
  .hostingModal {
    max-height: 600px;
    min-height: 600px;
  }

  .hostingModalContent {
    height: 560px;
    overflow-y: scroll;
  }

  .hostingModalContent::-webkit-scrollbar {
    width: 0px;
    display: none;
  }

  .plansFlex {
    flex-direction: column;
    gap: 20px;
  }

  .plans-card {
    width: 320px;
    padding-inline: 40px;
  }

  .plans-card .price {
    font-size: 32px;
  }

  .plans-card .currency {
    font-size: 13px;
  }

  .plans-card .desc {
    font-size: 13px;
  }

  .plans-card .time {
    font-size: 15px;
  }

  .plans-card .original-price {
    font-size: 13px;
  }

  .hostingModal .input-container {
    height: 50px;
  }

  .hostingModalContent {
    padding-top: 48px;
  }

  .ModalTitle {
    font-size: 17px !important;
    font-weight: 900 !important;
    line-height: 19.92px !important;
  }

  .hosting-plan {
    font-size: 17px !important;
    font-weight: 500 !important;
    line-height: 19.92px !important;
  }

  button.hostingModalButton {
    border: none !important;
    padding: 6px 4px !important;
    padding-inline: 0px !important;
    font-family: Roboto;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    text-align: left;
    color: #0011ff !important;
  }

  .hostingFlex {
    flex-direction: column;
    gap: 6px;
    align-items: start;
  }

  .plans-card .save {
    font-family: Roboto;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 17.58px !important;
    text-align: center !important;

    width: 115px !important;
    height: 30px !important;
  }

  .plans-card .time {
    font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 20.4px !important;
    text-align: center !important;
  }

  .plans-card .originalPrice {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .plans-card .price {
    font-family: Roboto;
    font-size: 38px !important;
    font-weight: 900 !important;
    line-height: 45.6px !important;
    text-align: center;
  }

  .plans-card .currency {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 17.58px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .plans-card .desc {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  .hostingModal .inp-grp p {
    font-family: Roboto Serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  .hostingModal .inp-grp img {
    width: 14px;
    height: 14px;
  }

  .hostingModal .input-container {
    height: 42px;
  }

  .hostingModal input[type="text"],
  .hostingModal input[type="text"]::placeholder {
    font-family: Roboto Serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
  }

  .hostingModal input[type="text"] {
    padding: 8px 12px !important;
  }

  .input-container button {
    font-size: 12px !important;
  }

  .total {
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .hostingModal .inp-grp p {
    font-size: 12px;
    line-height: 19.8px;
  }
}

@media (max-height: 800px) {
  .hostingModal {
    max-height: 90%;
  }

  .hostingModalContent {
    max-height: 90%;
  }

  .plans-card {
    padding-top: 20px;
  }

  .plans-card .price {
    font-size: 32px;
  }

  .plans-card .currency {
    font-size: 13px;
  }

  .plans-card .desc {
    font-size: 13px;
  }

  .plans-card .time {
    font-size: 15px;
  }

  .plans-card .original-price {
    font-size: 13px;
  }

  .hostingModal .input-container {
    height: 45px;
  }

  .hostingModal input[type="text"],
  .hostingModal input[type="text"]::placeholder {
    font-size: 18px;
  }

  .hostingModal input[type="text"] {
    padding: 12px 24px;
  }

  .input-container button {
    font-size: 18px;
  }

  /* Decrease the height of the contents inside the modal */
  .hostingModalContent {
    padding-top: 40px;
  }

  .ModalTitle {
    font-size: 20px !important;
  }

  .hosting-plan {
    font-size: 20px !important;
  }

  .planDetailsDuration {
    font-size: 20px !important;
  }

  .planDetailsPrice {
    font-size: 20px !important;
  }

  .total-totalPrice {
    font-size: 24px;
  }

  .button-continue {
    font-size: 20px;
  }

  .planDetailsDiscount {
    font-size: 14px;
    height: 35px;
    width: 100px;
  }

  .hostingModalButton {
    font-size: 14px;
    height: fit-content;
    padding: 10px 20px !important;
  }

  .plans-card .save {
    font-size: 18px !important;
    width: 100px !important;
    height: 30px !important;
  }
}

@media (max-height: 740px) {
  .hostingModal {
    max-height: 92%;
  }

  .hostingModalContent {
    max-height: 92%;
    padding: 10px 20px;
  }

  .plans-card {
    padding-top: 20px;
  }
}

@media (max-height: 660px) {
  .hostingModal {
    max-height: 94%;
  }

  .hostingModalContent {
    max-height: 94%;
    padding: 4px 20px;
  }

  .plans-card {
    padding-top: 20px;
  }
}
