section {
  padding: 100px 80px;
}

h1,
h2,
h4 {
  font-family: Roboto;
  color: #000;
  font-weight: 900;
}

h1 {
  font-size: 78px;
  line-height: 93.6px;
  text-align: left;
}

h2 {
  font-size: 64px;
  line-height: 76.8px;
  text-align: center;
}

h3 {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 900;
  line-height: 45.6px;
  text-align: center;
}

p {
  font-family: Roboto Serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.3px;
  text-align: center;
}

h4 {
  font-size: 26px;
  line-height: 31.2px;
  text-align: left;
}

.sub-para {
  font-family: Roboto Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  color: #000334;
}

@media (max-width: 1280px) {
  /* Styles for screens between 1280px and 1920px */
  section {
    padding: 80px 64px;
  }
  h1 {
    font-size: 48px;
    line-height: 57.6px;
  }

  h2 {
    font-size: 43px;
    line-height: 51.6px;
  }
  h4 {
    font-size: 24px;
    line-height: 28.13px;
  }
  p {
    font-size: 17px;
    line-height: 28.05px;
  }
  .sub-para {
    font-size: 15px;
    line-height: 24.75px;
  }

  h3 {
    font-size: 26px;
    line-height: 31.2px;
  }
}

@media (max-width: 1220px) {
  .hero h1 {
    font-size: 42px;
    line-height: 50.4px;
  }
}

@media (max-width: 834px) {
  section {
    padding: 80px 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
  }
  h2 {
    font-size: 38px;
    line-height: 45.6px;
  }
}

@media (max-width: 359px) {
  section {
    padding: 40px 16px;
  }
  h2 {
    font-size: 26px;
    line-height: 31.2px;
  }
}

@media (max-width: 430px) {
  section {
    padding: 40px 16px;
  }
}

section.reason {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 0 !important;
}

.reason-content {
  flex-basis: 50%;
}

.reason-image {
  flex-basis: 35%;
  height: 100%;
}

@media (max-width: 1600px) {
  .reason-content {
    flex-basis: 50%;
  }

  .reason-image {
    width: 100%;
  }

  .reason {
    gap: 24px;
  }
  .reason h2 {
    font-size: 43px;
    line-height: 51.6px;
  }

  .reason-content h3 {
    font-size: 26px;
    line-height: 31.2px;
  }
}

@media (max-width: 1280px) {
  .reason-content {
    flex-basis: 50%;
  }

  .reason-image {
    flex-basis: 40%;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  section.reason {
    flex-direction: column;
    padding-bottom: 24px !important;
    align-items: center !important;
  }

  .reason-image {
    width: 60%;
    margin-inline: auto;
  }

  .reason-content h3 {
    font-size: 24px;
    line-height: 28.13px;
  }

  .reason-content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24.75px;
  }
}

@media (max-width: 500px) {
  .reason-content h3 {
    font-size: 17px;
    line-height: 19.92px;
  }

  .reason h2 {
    font-size: 26px;
    line-height: 31.2px;
    text-align: center !important;
  }
}

.discover-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-content: space-between;
  width: 100%;
  place-items: center;
}

@media (max-width: 1150px) {
  .discover-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .discover-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .discover-grid .group {
    height: unset !important;
    height: fit-content !important;
  }

  .domain-card-sub-div {
    height: fit-content !important;
  }
}

@media (max-width: 1400px) {
  h2 {
    font-size: 38px;
    line-height: 45.6px;
  }

  table .first-column {
    width: 450px !important;
  }
}

@media (max-width: 800px) {
  table .first-column {
    width: 350px !important;
  }
}

table .first-column {
  width: 550px;
}

table h2 {
  font-size: 43px;
  line-height: 45.6px;
}

table h2 sup {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 900;
  line-height: 19.92px;
  text-align: left;

  vertical-align: top;
}

table h2 sub {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
  text-align: left;
  vertical-align: bottom;
}

@media (max-width: 1600px) {
  table h2 {
    font-size: 38px;
    line-height: 35.6px;
  }

  section.plans {
    padding: 80px 20px;
  }
}

@media (max-width: 1440px) {
  table h2 {
    font-size: 38px;
    line-height: 35.6px;
  }

  table .first-column {
    width: 450px;
  }
}

@media (max-width: 1280px) {
  table h2 {
    font-size: 32px;
    line-height: 35.6px;
  }

  table .first-column {
    width: 300px;
  }
}

@media (max-width: 1024px) {
  table .first-column {
    width: 400px;
  }

  table button {
    width: fit-content;
    margin-inline: auto !important;
    padding-inline: 10px 20px;
  }
}

@media (max-width: 700px) {
  table .first-column {
    width: 350px;
  }
}

.show-600 {
  display: none;
}

@media (max-width: 600px) {
  table .hide-600 {
    display: none !important;
  }
  table thead {
    display: none;
  }

  table {
    table-layout: fixed;
  }

  table tr td {
    padding: 10px 0;
  }

  table tr td p {
    text-align: left !important;
  }

  .show-600-flex {
    display: flex !important;
  }
}

@media (max-width: 600px) {
  .show-600 {
    display: block !important;
  }
  .hide-600 {
    display: none;
  }

  table {
    min-width: unset !important;
  }
}

tbody.show-600 {
  width: 100%;
  margin-inline: auto;
}

tbody.show-600 tr td:nth-child(1) {
  width: 70% !important;
}

tbody.show-600 tr td:nth-child(2) {
  width: 30% !important;
}

.togglebox-contianer {
  width: 500px;
}

.pricing-flex {
  width: 500px;
}

.toggle-box {
  width: 100%;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(1, 100, 249, 0.5) 0%,
    rgba(1, 169, 169, 0.5) 100%
  );
}

.togglebox-contianer {
  width: 500px;
}

.pricing-flex {
  width: 500px;
}

.show-500,
.show-400 {
  display: none;
}

@media (max-width: 500px) {
  .togglebox-contianer {
    width: 400px;
  }
  .hide-500 {
    display: none;
  }
  .show-500 {
    display: flex !important;
  }

  .pricing-flex {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .togglebox-contianer {
    width: 320px !important;
  }

  .hide-400 {
    display: none !important;
  }

  .show-400 {
    display: flex !important;
  }

  .pricing-flex {
    width: 100% !important;
  }

  .toggle-box {
    padding-inline: 10px !important;
  }
}

.button-medium {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  text-align: center;
  padding: 12px 20px;
}

.planCards h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .planCards h2 {
    line-height: 36.12px;
  }
}

@media (max-width: 834px) {
  table {
    width: 100%;
    table-layout: auto;
  }

  table td {
    width: 180px;
  }
  th.first-column {
    width: 300px !important;
  }
}

h6 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 900;
  line-height: 19.92px;
  text-align: left;
}

p.sub {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 10.4px;
  text-align: center;
}

@media (max-width: 600px) {
  .bordered-table {
    border: 3px solid #2563eb;
    border-radius: 7px;
  }
}
