select {
  font-size: unset !important;
}

.summaryTable th:first {
  width: 35% !important;
}

.summaryTable th:nth-child(2),
.summaryTable th:nth-child(3) {
  width: 20% !important;
}

.summaryTable th:nth-child(4) {
  width: 25% !important;
}

th h5 {
  font-size: 24px;
}

@media (max-width: 1800px) {
  th h5 {
    font-size: 20px;
  }
}

td {
  font-size: 20px !important;
  padding-inline: 8px;
}

td input,
td select {
  min-width: 80% !important;
  border: 0.5px solid #0000004d;
}

td input::-webkit-outer-spin-button,
td ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
td input[type="number"] {
  -moz-appearance: textfield;
}

/* content inside select should be small */

@media (max-width: 1800px) {
  td {
    font-size: 16px !important;
  }
}

/* content inside input field number should be bold */
input[type="number"],
select {
  font-weight: bold;
}

/* replace the arrows of the input field with a custom icon */
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Media Queries */
@media (max-width: 1500px) {
  th h5 {
    font-size: 18px;
  }

  td {
    font-size: 16px !important;
  }
}

@media (max-width: 1200px) {
  th h5 {
    font-size: 16px;
  }

  td {
    font-size: 14px !important;
  }
}

@media (max-width: 900px) {
  th h5 {
    font-size: 14px;
  }

  td {
    font-size: 12px !important;
  }
}

.summaryTable h5 {
  font-size: 20px;
}
@media (max-height: 800px) {
  .summaryTable h5 {
    font-size: 16px;
  }
}

@media (max-height: 700px) {
  .heightContainer {
    height: 38vh;
  }

  .summaryBottom {
    height: fit-content !important;
  }
}

@media (max-height: 680px) {
  .heightContainer {
    height: 36vh;
  }

  .summaryBottom {
    height: fit-content !important;
  }
}

@media (max-height: 638px) {
  .summaryTable th {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .summaryTable table {
    min-width: 100% !important;
  }

  /* .summaryBottom {
    justify-content: start !important;
    align-items: start !important;
  } */

  .couponFlex {
    flex-direction: column !important;
    align-items: start !important;
    justify-content: start !important;
    min-width: 100% !important;
  }

  .subTotalFlex {
    /* flex-direction: column !important; */
    align-items: start !important;
    justify-content: end !important;
    min-width: 100% !important;
    width: 100%;
  }

  /* .text-right {
    text-align: left !important;
  }
  .text-right li {
    text-align: left !important;
  } */
}

@media (max-width: 680px) {
  .summaryTable thead th:first-child {
    min-width: 130px !important;
  }

  .summaryTable thead th {
    min-width: 100px !important;
  }

  .summaryTable input,
  .summaryTable select {
    min-width: 70% !important;
    width: 70% !important;
  }
}

@media (max-width: 550px) {
  .summaryTable input,
  .summaryTable select {
    width: 100% !important;
  }

  .summaryBottom,
  .couponFlex {
    align-items: start;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .summaryTable td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .summaryTable input,
  .summaryTable select {
    min-width: 70% !important;
    width: 70% !important;
  }
}

@media (max-width: 600px) {
  .hide-600 {
    display: none !important;
  }

  .show-600 {
    display: block !important;
  }

  .show-600-flex {
    display: flex !important;
  }
}

.show-600 {
  display: none;
}

.productDetailsCart .productImg {
  width: 40px !important;
  height: 40px !important;
}

.productDetailsCart h3 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  text-align: left;
}

.productDetailsCart a {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #0a41fc;
}

.productDetailsCart input {
  width: 74px !important;
  min-width: 74px !important;
  height: 37px !important;
  border-radius: 2px;
  border: 0.5px solid #0000004d !important;
}

.productDetailsCart select {
  width: 104px !important;
  min-width: 104px !important;
  height: 37px;
  border-radius: 2px;
  border: 0.5px solid #0000004d;

  font-family: Roboto;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
}

.productDetailsCart .productPrice {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 470px) {
  .productDetailsCart .productPrice {
    font-size: 12px;
  }

  .totalAmountCart {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: right;
  }
}

.summaryBottomPrice {
  border-bottom: 1px solid #e5e7eb !important;
}

select.productSelect,
input[type="number"].productInput {
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
}

.summaryTable table td {
  font-size: 15px !important;
  font-weight: 500 !important;
}
